.adjust-product {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  .adjust-product__form {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity;
    box-shadow: 5px 5px 10px rgba(gray, 0.7);

    &.create, &.update {
      top: calc(50% - 200px);
      left: calc(50% - 120px);
    }

    &.delete {
      top: calc(50% - 150px);
      left: calc(50% - 120px);
    }

    &.show {
      opacity: 1;
      visibility: visible;
      transition: 0.3s opacity;
    }

    .from-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .form-button-group {
      display: flex;
      margin-top: 0.5rem;
      justify-content: space-between;
    }
    .form-button {
      width: 100%;
      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }
  .adjust-product__button {
    margin-right: 0.5rem;
  }
}
