.adjust-coin-stock {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .adjust-coin-stock__form {
    position: absolute;
    top: calc(50% - 220px);
    left: calc(50% - 140px);
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity;
    box-shadow: 5px 5px 10px rgba(gray, 0.7);
    &.show {
      opacity: 1;
      visibility: visible;
      transition: 0.3s opacity;
    }
    .from-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .form-button-group {
      display: flex;
      margin-top: 0.5rem;
      justify-content: space-between;
    }
    .form-button {
      width: 100%;
      &:first-child {
        margin-right: 0.5rem;
      }
    }
    .form-group {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
    }
    .form-control {
      width: 120px;
      margin: 0 10px;
      &::placeholder {
        color: rgb(204, 204, 204);
      }
    }
    .form-label {
      width: 40px;
      margin: 0;
    }
  }
}
