.alert-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(gray, 0.4);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  .alert-box__message {
    position: relative;
    padding: 30px;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
  }
  .alert-box__close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  .alert-box__close-button-icon {
    width: 25px;
    height: 25px;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }
}
