.backdoor {
  display: flex;
  height: 100%;
  flex-direction: column;

  .backdoor__coin,
  .backdoor__bank {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .backdoor__coin-image {
    width: 40px;
    height: 40px;
  }
  .backdoor__bank-image {
    width: 100px;
    height: 50px;
  }
  .backdoor__remaining {
    margin-left: 0.5rem;
  }

  @media (max-width: 1000px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
    .backdoor__coin {
      flex-direction: row;
    }
    .backdoor__bank {
      justify-content: center;
      flex-direction: column;
      margin: 0;
    }
    .backdoor__bank {
      width: 20%;
    }
    .backdoor__coin {
      width: 15%;
    }
  }

  @media (max-width: 750px) {
    .backdoor__coin {
      flex-direction: column;
    }
    .backdoor__bank-image {
      width: 75px;
      height: 40px;
    }
  }
}
