.confirm-box {
  @extend .alert-box;
  .confirm-box__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
  }
  .confirm-box__product-image {
    width: 70px;
    height: 70px;
  }
  .confirm-box__button-group {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 160px;
  }
  .confirm-box__button {
      padding: 5px;
      width: 50%;
      margin-right: 10px;
  }
}
