.product {
  position: relative;
  display: flex;
  width: calc((100% / 5) - 20px);
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  margin: 0 10px 10px;
  cursor: pointer;
  box-shadow: 0 0 0 3px transparent;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 0 3px rgb(0, 119, 255);
  }
  &.selected {
    box-shadow: 0 0 0 3px rgb(35, 161, 73);
  }
  &.not-available {
    pointer-events: none;
    box-shadow: 0 0 0 3px rgb(161, 35, 35);
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(gray, 0.3);
    }
  }

  .product__name {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product__price {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .product__image {
    width: 50px;
    height: 50px;
    padding: 0.25rem;
  }
  .product__qty {
    @include font-size(10px);
  }

  @media (max-width: 1200px) {
    flex: calc((100% / 4) - 20px) 0 0;
  }

  @media (max-width: 750px) {
    flex: calc((100% / 3) - 20px) 0 0;
  }
}
