.vending-machine {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  height: 600px;
  border-radius: 15px;
  background: linear-gradient(
    45deg,
    rgb(20, 158, 218),
    darkblue,
    rgb(185, 56, 185),
    #ff7300
  );

  .vending-machine__showcase {
    position: relative;
    width: 80%;
    margin: 0 -15px;
    padding: 0 15px;
  }

  .vending-machine__shelf {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(213, 255, 255, 0.5);
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .vending-machine__slot {
    width: 20%;
    padding: 0.75rem;
    background-color: rgb(228, 228, 228);
    height: max-content;
  }
  .vending-machine__price-panel {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    background-color: rgb(182, 182, 182);
  }
  .vending-machine__coin-slot {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }
  .vending-machine__coin,
  .vending-machine__banknote {
    &.disable {
      pointer-events: none;
    }
  }
  .vending-machine__coin-image {
    width: 30px;
    height: 30px;
  }
  .vending-machine__banknote-image {
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
  }
  .vending-machine__coin,
  .vending-machine__banknote {
    cursor: pointer;
  }
  .vending-machine__changes {
    width: 100%;
    font-size: 12px;
    &.btn-danger {
      pointer-events: none;
    }
  }

  @media (max-width: 1200px) {
    height: 700px;
  }

  @media (max-width: 750px) {
    height: 550px;
    flex-direction: column;
    justify-content: space-between;
    .vending-machine__showcase {
      width: calc(100% + 30px);
      height: 63%;
    }
    .vending-machine__slot {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0.5rem;
      align-items: center;
    }
    .vending-machine__price-panel {
      padding: 0.25rem;
      height: 50px;
      width: 50%;
    }
    .vending-machine__coin-slot {
      width: 50%;
      justify-content: space-around;
    }
    .vending-machine__coin-image {
      width: 40px;
      height: 40px;
    }
    .vending-machine__banknote-slot {
      display: flex;
      width: 100%;
      margin-top: 0.5rem;
      flex-wrap: wrap;
      justify-content: center;
    }
    .vending-machine__banknote {
      width: 100px;
      margin: 0 10px;
    }
    .vending-machine__banknote-image {
      height: 45px;
      margin-bottom: 0.25rem;
    }
  }

  @media (max-width: 500px) {
    .vending-machine__banknote {
      width: 90px;
    }
  }
}
